.projects-main {
  width: 100%;
}

.basic-projects {
  width: 90%;
  margin: 0px auto;
  margin-top: 2rem;
}

.big-projects-container {
  margin-bottom: 50px;
}

.projects-heading-div {
  text-align: center;
  margin-bottom: 40px;
}

.projects-heading-text {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 15px 0;
}

.projects-heading-sub-text {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

@media (max-width: 768px) {
  .projects-heading-text {
    font-size: 32px;
  }
  
  .projects-heading-sub-text {
    font-size: 16px;
    line-height: 22px;
  }
  
  .projects-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}